@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Mulish", sans-serif;
  color: black;
  font-weight: 400;
  line-height: 1.6;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(images/hero.jpg);
  background-size: cover;
  background-position: 100% 57%;
  position: relative;
  padding: 2em 3em;
}

/* Header */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5em auto;
  color: white;
}
.banner h1 {
  font-size: 1.9em;
  margin-bottom: 1em;
}
.banner h1 > span {
  color: greenyellow;
}
.banner p {
  text-align: center;
  font-size: 1.1em;
  line-height: 1.8em;
  margin-bottom: 1.8em;
}
.banner button {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 1em;
  vertical-align: middle;
  background-image: linear-gradient(96.67deg, #34a853 0%, #b4d245 100%);
  border: none;
  border-radius: 0.25rem;
  padding: 1rem 3.6rem;
}

/* Partners */
.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: 2em;
  background-color: rgba(249, 250, 251, 0.7);
}

.partners > p {
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
}
.partners-img {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.partners-img p > img {
  width: 85%;
}

/* Reason section */
.reason {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.reason h2 {
  margin-bottom: 1.3em;
}

.reason-grid {
  display: flex;
  flex-wrap: wrap;
}
.reason-image {
  flex-basis: 100%;
}
.reason-image > img {
  width: 100%;
}

.reason-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.reason-item {
  flex-basis: 100%;
  margin-top: 2em;
}

/* Countries */
.countries {
  padding: 2.1em 3.1em;
  background-color: #f5f9e7;
}
.countries > h4 {
  font-weight: normal;
  text-align: center;
  line-height: 2.1em;
  max-width: 50em;
  margin: 0 auto;
}

@media only screen and (min-width: 900px) {
  .reason-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .reason-image {
    flex-basis: 50%;
  }

  .reason-list {
    padding-left: 2em;
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .reason-item {
    padding: 2em;
    flex-basis: 50%;
    margin-top: 2em;
  }
}

@media only screen and (min-width: 750px) and (max-width: 899px) {
  .reason-image {
    flex-basis: 70%;
    margin: 0 auto;
  }
}
